.app-component {
  &__header {
    height: 72px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    &__left-section {
      img {
        height: 32px;
        width: 130px;
        margin-left: 16px;
      }
    }
    &__right-section {
      margin-left: auto;
      margin-right: 16px;
      a {
        color: #222;
        font-weight: 600;
        font-size: 16px;
        margin-left: 16px;
      }
    }
    @media only screen and (max-width: 400px) {
      &__left-section {
        img {
          margin-left: 8px;
        }
      }
      &__right-section {
        margin-right: 8px;
      }
    }
  }
}
