.registration-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  &__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 600px;
    min-width: 280px;
    min-height: 400px;
    padding: 20px 40px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px #222;
    background: #f4f7f8;
    margin: 16px 0;
    input {
      &:focus,
      &:active {
        outline: none;
        box-shadow: none;
      }
    }
    .asterisk {
      color: red;
    }
    .error {
      color: red;
      font-size: 14px;
    }
    h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }
    .submit-btn {
      margin-left: auto;
      margin-right: 16px;
      border: 1px solid transparent;
      border-radius: 6px;
      background-color: #ffd11c;
      color: #333;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      letter-spacing: 0.5px;
      color: #333;
      width: 165px;
      height: 40px;
    }

    @media only screen and (max-width: 767px) {
      h2 {
        margin-top: 16px;
      }
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      width: 100%;
      max-width: unset;
      margin: 0;
      button {
        width: 100%;
        margin-right: 16px;
        margin-left: 16px;
        margin: 0 16px 16px;
      }
    }
    .alert{
      margin: 0 16px;
      width: 100%;
    }
  }
}
